services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.3.0
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"

  kafka:
    image: confluentinc/cp-kafka:7.3.0
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
      - "29092:29092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:29092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

  server:
    build:
      context: ./server
    depends_on:
      - kafka
    environment:
      KAFKA_BOOTSTRAP_SERVERS: "kafka:9092"
      AGENTS: "benign_1,benign_2,malicious_1"
      NUM_ROUNDS: "1000"
      MODEL_DIM: "4"
      EVAL_EVERY: "1"
      SLEEP_SECONDS: "0"
      TF_INTRA: "1"
      TF_INTER: "1"
      ENABLE_DETECTION: "0"
    volumes:
      - ./shared:/app/shared

  honeypot:
    build:
      context: ./honeypot
    depends_on:
      - kafka
    environment:
      KAFKA_BOOTSTRAP_SERVERS: "kafka:9092"
      HP_ALPHA: "0.33"
      HP_BETA: "0.67"
      PYTHONUNBUFFERED: "1"
    volumes:
      - ./shared:/app/shared

  agent_benign_1:
    build:
      context: ./agents
    depends_on:
      - kafka
    environment:
      KAFKA_BOOTSTRAP_SERVERS: "kafka:9092"
      PYTHONUNBUFFERED: "1"
    command: ["./wait-for-kafka.sh", "python", "benign_agent.py"]
    volumes:
      - ./shared:/app/shared

  agent_benign_2:
    build:
      context: ./agents
    depends_on:
      - kafka
    environment:
      KAFKA_BOOTSTRAP_SERVERS: "kafka:9092"
      AGENT_ID: "benign_2"
      PYTHONUNBUFFERED: "1"
    command: ["./wait-for-kafka.sh", "python", "benign_agent.py"]
    volumes:
      - ./shared:/app/shared

  #agent_benign_3:
  #  build:
  #    context: ./agents
  #  depends_on:
  #    - kafka
  #  environment:
  #    KAFKA_BOOTSTRAP_SERVERS: "kafka:9092"
  #    AGENT_ID: "benign_3"
  #    PYTHONUNBUFFERED: "1"
  #  command: ["./wait-for-kafka.sh", "python", "benign_agent.py"]
  #  volumes:
  #    - ./shared:/app/shared

  #agent_benign_4:
  #  build:
  #    context: ./agents
  #  depends_on:
  #    - kafka
  #  environment:
  #    KAFKA_BOOTSTRAP_SERVERS: "kafka:9092"
  #    AGENT_ID: "benign_4"
  #    PYTHONUNBUFFERED: "1"
  #  command: ["./wait-for-kafka.sh", "python", "benign_agent.py"]
  #  volumes:
  #    - ./shared:/app/shared

  agent_malicious:
    build:
      context: ./agents
    depends_on:
      - kafka
    environment:
      KAFKA_BOOTSTRAP_SERVERS: "kafka:9092"
      AGENT_ID: "malicious_1"
      PYTHONUNBUFFERED: "1"
    command: ["./wait-for-kafka.sh", "python", "malicious_agent.py"]
    volumes:
      - ./shared:/app/shared
