services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.6.1
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181

  kafka:
    image: confluentinc/cp-kafka:7.6.1
    depends_on:
      - zookeeper
    ports:
      - "29092:29092"   # puerto para tu host Windows
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181

      # Un listener interno (containers) y otro para el host
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,PLAINTEXT_HOST://0.0.0.0:29092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:29092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT

      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1

      # payloads más grandes (útil cuando envíes pesos reales)
      KAFKA_MESSAGE_MAX_BYTES: 20000000
      KAFKA_REPLICA_FETCH_MAX_BYTES: 20000000

  server:
    image: python:3.11-slim
    working_dir: /app
    command: bash -lc "pip install confluent-kafka numpy && python -m server.server"
    volumes:
      - ./:/app
    environment:
      PYTHONPATH: /app
      KAFKA_BROKER: kafka:9092
      TOPIC_UPDATES: fl.model.updates
      TOPIC_GLOBAL: fl.model.global
      AGENTS_EXPECTED: "a0,a1"
      ROUND_TIMEOUT_SEC: "15"
    depends_on:
      - kafka
    restart: unless-stopped

  agent_a0:
    image: python:3.11-slim
    working_dir: /app
    command: bash -lc "pip install confluent-kafka numpy && python -m agents.agents"
    volumes:
      - ./:/app
    environment:
      PYTHONPATH: /app
      KAFKA_BROKER: kafka:9092
      TOPIC_UPDATES: fl.model.updates
      TOPIC_GLOBAL: fl.model.global
      AGENT_ID: a0
      MODE: MOCK
      EPOCHS: "1"
    depends_on:
      - kafka
      - server
    restart: unless-stopped

  agent_a1:
    image: python:3.11-slim
    working_dir: /app
    command: bash -lc "pip install confluent-kafka numpy && python -m agents.agents"
    volumes:
      - ./:/app
    environment:
      PYTHONPATH: /app
      KAFKA_BROKER: kafka:9092
      TOPIC_UPDATES: fl.model.updates
      TOPIC_GLOBAL: fl.model.global
      AGENT_ID: a1
      MODE: MOCK
      EPOCHS: "1"
    depends_on:
      - kafka
      - server
    restart: unless-stopped
